{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block main %}
<ol class="quotes">
    <li>
        <blockquote>
            <p>«Биткоин — это высший пилотаж в мире технологий»</p>
        </blockquote>
        <cite>Билл Гейтс, основатель Microsoft</cite>
    </li>
    <li>
        <blockquote>
            <p>«Если тебе тяжело идти значит ты bold»</p>
        </blockquote>
        <cite>Казанцев Артём, основатель Star$</cite>
    </li>
    <li>
        <blockquote>
            <p>«Работа не волк, работа это ворк, а волк это ходить»</p>
        </blockquote>
        <cite>Казанцев Артём, основатель Star$</cite>
    </li>
</ol>
{% endblock %}